#logo_modify_delete{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    width: 8%;
}

#logo_modify_delete a{
    margin-right: 50%;
    font-size: 150%;
    color: black;
    background-color: white;
}



.conteneur_ensemble_image_video{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

img{
    width: 15%;
    object-fit: cover;
}

img:first-child{
    width: 100%;
    height: 500px;
}

video{
    width: 15%;
}

.conteneur_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteneur_ajout_commentaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 30%;
}
form div{
    margin-top: 3%;
    margin-bottom: 3%;
}

label{
    margin-right: 5%;
}

.conteneur_commentaires{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination a{
    text-decoration: none;
    color: blue;
}

#comment_date{
    display: none;
}

label[for=comment_date]{
    display:none;
}

form div:last-child{
    display: none;
}

.conteneur_photo_commentaire{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.conteneur_commentaire{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.conteneur_photo_commentaire img:first-child{
    width: 20%;
    height : 50px;
}


@media all and (max-width : 767px) {
    .conteneur_ensemble_image_video{
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 80%;
    }

    video{
        width: 80%;
    }
    
    img:first-child{
        width: 100%;
        height: 300px;
    }

    #logo_modify_delete{
        right: 12%;
        top: 3%;
        width: 8%;
    }

    .conteneur_photo_commentaire{
        width: 90%;
    }
}