.conteneur_titre_contenu{
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

form{
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

input{
    margin-top: 10%;
    margin-bottom: 10%;
}

button{
    margin-top: 10%;
}

@media all and (max-width : 767px) {
    h1{
        font-size: 300%;
    }
    form{
        font-size: 150%;
        width: 60%;
    }
    label{
        font-size: 100%;
    }
    input{
        font-size: 100%;
    }
    button{
        font-size: 100%;
    }
}