{# templates/new.html.twig #}
<html>
    <head></head>
    <body>
        {{ form_start(form) }}
            {{ form_row(form.picture) }}

            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </body>
</html>